/**{font-family: 'Poppins', sans-serif;}
#bs-example-navbar-collapse-1 li a{
	color:#fff;
}
#bs-example-navbar-collapse-1 li a:hover{
	color:#8ac5cc;
	font-weight:bolder;
}
/*  ---------------------------------------index------------------------------------------------- 
.navbar{background:#01A66F!important; box-shadow: 0px 8px 3px -1px rgb(0 0 0 / 18%); height: 65px; padding-top:6px; border-radius: 0; margin-bottom:-65px;}.nav-form{width: 400px;}.nav-form-inp{border-bottom: 1px solid #ced4da; border-top: none; border-left: none; border-right: none; background: transparent; font-size: 15px; border-bottom: 5px solid #B2DBBF; transition: border-bottom .75s;}.nav-form-inp:focus{background: transparent; border-bottom: 5px solid #B2DBBF;}.nav-form-btn{background:transparent; border:none; margin-left: -50px; border-bottom: 1px solid #b2dbbf;}.nav-form-btn:hover{background:#01A66F; border-color:#01A66F;}.banner{height: 300px; width: 100%;}.top-deals h2{font-size: 27px;}.top-deals span{color:#75CE9F; font-family: ;}.top-deals .col-md-4{padding-right: calc(var(--bs-gutter-x) * 1.5); padding-left: calc(var(--bs-gutter-x) * 1.5);}.top-deals .btn{background-color: trnsparent!important; border-color: #fdd660; color: #afb1b0; font-weight: bold;}.best-coupon{color:;}
.card{border-radius: 8px;}.top-deals .card-img-top{border-top-left-radius: 8px; border-top-right-radius: 8px;}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
	color: #fff;
    font-size: 14px;
}
.btn{padding: .2rem .7rem;}
/* ========================= footer ====================== 
#footer{
	background:#000;
	color:#fff;
	padding:36px 0 0;
	font-family: 'Poppins', sans-serif;
}
#footer>.container>.row1{
	border-bottom:1px solid #545454; 
	margin-bottom: 19px;
}
#footer h3{
	margin-top: 0;
}
#footer h3>a{
	color:#fff;
	font-size:24px;
}
#footer a:hover{
	color:#fff;
	text-decoration:none;
}
.icon a{
	padding-left: 24px;
	color:#fff; 
	font-size: 19px;
	font-family: 'Poppins', sans-serif;
}
#footer ul{display: flex;}
.quick-link a{
	padding-left: 24px;
	font-size: large;
	color:#fff;
}
.categories h2{color:#75CE9F;}
.container {
  /* position: relative; */
  /* width: 50%; 
}

.image {
  /* opacity: 0.5; */
  /* display: block; */
  /* width: 100%; */
  /* height: auto; */
  /* transition: .5s ease; */
  /* backface-visibility: hidden; 
}
.best-coupon h2{font-size: 27px;}
.top-deals .card-body h4{text-align:start; line-height: 1.375em; font-size: 16px; font-weight: 400; color: rgb(50, 50, 50); font-family: proxima-nova, Segoe UI, Helvetica Neue, Helvetica, Roboto, sans-serif; margin-bottom: 15px;}
.top-deals .card-body a{border-radius:0; color: #000;}
a{text-decoration:none; color:#000;}
.navbar-brand{font-size: 30px;font-family: poppins;}
.see-more{font-size: 14px;}
.see-more1{font-size: 14px;}
.middle {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 60%;
  left: 50%;
    padding: 0 75px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;s
}

.middle h2{font-family: fantasy; font-size: 3rem;}

.container:hover .image {
  /* opacity: 0.3; 
}

.container:hover .middle {
  /* opacity: 1; 
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}




.wrapper {
  width: 100%;
  padding: 24px 0;
  margin: auto;
  /* height: 100%; 
  background-color: #000;
  /* opacity:0.6; 
  text-align: center;
  overflow: hidden;
}

.page {
  /* margin: 14px auto 0 auto; 
  display: inline-block;
  position: relative;
  width:100%;
}
label {
  /* display: inline-block; */
  /* width: 300px; */
  /* margin-right: 21px; */
  /* text-align: right; */
  /* font-family: 'Rubik', sans-serif; */
  /* font-size: 32px; */
  /* vertical-align: middle; */
  /* text-transform: uppercase; */
  /* color: #70C1B3; 
}

.middle input[type="text"],
{
  display: inline-block;
  /* font-size: 32px; 
  vertical-align: middle;
  background-color: #fff;
  border: none;
  /* border-bottom: 5px solid #B2DBBF; */
  /* transition: border-bottom .75s; 
  color: #FFF;
  padding: 10.5px;
}

.overlay-inp{border-radius: 0; border:unset;}

.middle .btn-warning{background:#01a66f; border:#01a66f; border-radius:unset; padding: .45rem .75rem; color: #fff; font-weight: bold; box-shadow: 1px 1px;}

input[type="text"]:focus {
  /* border-bottom: 5px solid #FF1654; 
}

.arrow-right {
  /* width: 0;  */
  /* height: 0;  */
  /* border-top: 60px solid transparent; */
  /* border-bottom: 60px solid transparent; */
  /* border-left: 60px solid #FFFFFF; */
  /* transition: border-left .3s; */
  /* cursor: pointer; */
  /* position: relative; */
  /* z-index: 10; 
}

.arrow-right:hover {
  border-left: 60px solid #B2DBBF;
}

div.inputs {
  display: inline-block;
  width: 75%;
  /* margin-right: 52px; 
  vertical-align: middle;
  position: relative;
  z-index: 5;
}

div#next-button {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
}

.active {
  animation: slide-in forwards 1s ;
}

.inactive {
  animation: slide-out forwards 1s ;
}

@keyframes slide-in {
  0% {
    right: -150%;
  }
  100%{
    right: 0;
  }
}

@keyframes slide-out {
  0% {
    right: 0;
  }
  100%{
    right: 150%;
  }
}
.justify-between .hidden{display:none;}.justify-between .flex-1 .ml-3{padding: 8px 44px!important;}
